  
      <!-- POST 1 -->
      <!-- Resumos posts listas uma linha-->
      <div class="row mb-2">                
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">T.I.</strong>
              <h3 class="mb-0">Como pesquisar na internet com o ChatGPT</h3>
              <div class="mb-1 text-body-secondary">Por Como Fazer Informatica | 2 de abril de 2023</div>
              <p class="card-text mb-auto">
            
                O ChatGPT é uma ferramenta de inteligência artificial que pode ser útil em diversas situações do dia a dia. Com o ChatGPT, você pode fazer perguntas, receber recomendações e até mesmo ter conversas casuais em uma variedade de tópicos. Clique aqui para conhecer mais esse recurso. Para utilizar o ChatGPT no aplicativo disponível em https://chat.openai.com/chat,…
            
            </p>
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                Continue lendo...
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <!--
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="/img/posts/posts_capa.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              -->
              <a class="navbar-brand" href="#"><img src="/img/posts/posts_capa.png" width="300" height="300"></a>
            </div>
          </div>
        </div>
        
      </div>

      <!-- POST 2 -->
       <!-- Resumos posts listas uma linha-->
       <div class="row mb-2">                
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Notícias T.I.</strong>
              <h3 class="mb-0">Notícias de tecnologia e novidades na internet</h3>
              <div class="mb-1 text-body-secondary">Por Como Fazer Informática | 6 de maio de 2014</div>
              <p class="card-text mb-auto">
            
                Esteja por dentro das notícias de tecnologia, notícias cientificas, e confira nesse artigo os top sites que abordam os assuntos mais interessantes do mundo digital.
            
            </p>
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                Continue lendo...
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <!--
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="/img/posts/posts_capa.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              -->
              <a class="navbar-brand" href="#"><img src="/img/posts/posts_1/posts_capa.png" width="300" height="300"></a>
            </div>
          </div>
        </div>
        
      </div>
   
            <!-- Resumos posts duas colunas  -->
            <!--
            <div class="row mb-2">                
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                      <h3 class="mb-0">Featured post</h3>
                      <div class="mb-1 text-body-secondary">Nov 12</div>
                      <p class="card-text mb-auto">
                        This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                      </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                      <h3 class="mb-0">Post title</h3>
                      <div class="mb-1 text-body-secondary">Nov 11</div>
                      <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                      </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                  </div>
                </div>
              </div>
              -->
  