<!-- Rodapé exibido em todas as páginas -->
<footer>
  <p class="text-center">© 2024. Todos os direitos reservados</p>
  <h6 class="text-center">
    <a href="https://www.rcndev.comofazerinformatica.com.br"  target="_blank">www.rcndev.comofazerinformatica.com.br</a>
  </h6>
</footer>

<nav class="navbar fixed-bottom bg-primary-subtle" data-target="target-element" id="navPolitica" hidden="true">
  
  <div class="container-fluid">
    <h6 class="center-align">
      <button type="button" class="btn btn-primary" onclick="setPrivacyPolicyCookie()"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
      Continuar
    </button>
      Utilizamos cookies somente para aprimorar sua experiência de navegação em nosso site
      . Ao continuar navegando, você concorda com a utilização destes cookies. 
      <p>Conheça a nossa Política de Privacidade e Proteção a Dados Pessoais 
        <a target="_blank" href="./politica_privacidade" class="blue-text"> (CLIQUE AQUI).</a>
      </h6>
  </div>

</nav>


